<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.unity3d.player" android:installLocation="preferExternal" android:theme="@android:style/Theme.NoTitleBar" android:versionCode="1" android:versionName="1.0">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />

    <!-- Gimmie World -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
  
  <application 
    android:icon="@drawable/app_icon" 
    android:label="@string/app_name" 
    android:debuggable="true">
    <activity 
        android:name="com.facebook.unity.FBUnityPlayerActivity" 
        android:launchMode="singleTask" 
        android:label="@string/app_name" 
        android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity 
        android:name="com.unity3d.player.UnityPlayerActivity" 
        android:launchMode="singleTask" 
        android:label="@string/app_name" 
        android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
        android:screenOrientation="portrait">
    </activity>
    <activity 
        android:name="com.unity3d.player.UnityPlayerNativeActivity" 
        android:launchMode="singleTask" 
        android:label="@string/app_name" 
        android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
        android:screenOrientation="portrait">
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
    </activity>
    <activity 
        android:name="com.facebook.LoginActivity" 
        android:screenOrientation="portrait" 
        android:configChanges="keyboardHidden|orientation">
    </activity>
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="\ 220466901453630" />

    <!-- Gimmie World -->
        <activity android:name="com.gimmie.components.GimmieView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/RewardCategoryPage" />
        <activity
            android:name="com.gimmie.components.RewardDetail"
            android:screenOrientation="portrait"
            android:theme="@style/GimmieAppeaerance" />
        <activity
            android:name="com.gimmie.components.BadgeView"
            android:screenOrientation="portrait"
            android:theme="@style/GimmieAppeaerance" />
        <activity
            android:name="com.gimmie.components.ClaimsList"
            android:screenOrientation="portrait"
            android:theme="@style/GimmieAppeaerance" />
        <activity
            android:name="com.gimmie.components.HistoryList"
            android:screenOrientation="portrait"
            android:theme="@style/GimmieAppeaerance" />
        <activity
            android:name="com.gimmie.components.WebView"
            android:screenOrientation="portrait"
            android:theme="@style/GimmieAppeaerance" />

        <meta-data
            android:name="com.gimmie.api.key"
            android:value="b34fd591d29c3cbbc3482ac67311" />
        <meta-data
            android:name="com.gimmie.api.secret"
            android:value="f25869e10ccbdc06fb74ea5e9161" />
        <meta-data android:name="com.gimmie.notification.system.enable" android:value="false" />
        <meta-data android:name="com.gimmie.notification.toast.enable" android:value="false" />
        <meta-data android:name="com.gimmie.notification.popup.enable" android:value="true" />
        <meta-data android:name="com.gimmie.notification.popup.duration" android:value="10" />
  </application>


</manifest>